* {
  box-sizing: border-box;
}

/*define the basic settings for the page*/
body {
  font-family: kulturista-web,serif;
  font-weight: 300;
  font-style: normal;
  font-size: 400px;
    color: #dfdfdf;
    line-height:300px;
    background-color: #142F40;
    margin: 0 auto; /*this will eliminate any white border around the browser frame*/
}
/* Style the header */
header {
  font-family: kulturista-web,serif;
  font-weight: 700;
  font-style: normal;
  color: #F28972; /* This is the text color*/
  background-color: #ffffff; /* This is the box color*/
  padding: 8%;
  text-align: center;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 2%;
}
.name {
  float: left;
}
.headshot {
  float: right;
  width: 25%;
}
.headshot img {
  width: 200px;
  border-radius: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*define the link styles*/
a {
  color:  #fff;
}
a:hover {
  color:  #fff;
}

/*define the heading styles*/
h1 {
  font-weight: 300; /*setting a light version of the font quiet sans*/
  font-style: normal;
  font-size: 250px;
  line-height: 44px;
border-bottom: 10px dotted rgb(254, 213, 213);
 }

h2 { 
	font-weight: 300;
  font-size: 250px;
  color: rgb(174, 93, 93);
  line-height: 20px;
  border-bottom: 10px dotted rgb(254, 213, 213);

}

h3 { 
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:200;
  }

/*you can apply styling to multiple elements by separating them with a comma*/
h1, h2, h3, h4, h5, p {    
  margin-bottom: 40px;
}

/*define the strong styles*/
strong {
	color:  #fff;
}
/*define the unordered list styles*/
ul {
  color: rgb(255, 255, 255);
}

/*define the ordered list styles*/
ol {
  color: rgb(255, 255, 255);
}


/* define a style for section elements*/
section {
	/* border: 1px dotted #949599; border is set to show you the frames, you can delete*/

}
aside {
	font-weight: 300; /*setting a light version of the font quiet sans*/
  font-family: kulturista-web,serif;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  color: #fff;
  padding: 40%;
}
/* using the clear property will cause the footer to drop to the bottom of the page*/
footer {
  background-color:  #ffffff;
  padding: 6%;

}
/* you can target a specific tag within another element*/
footer p {
  text-align: center;
}
footer a {
  color: rgb(221, 60, 60);
}
footer a:hover {
  color: rgb(237, 74, 74);
}
