* {
    box-sizing: border-box;
  }
  
  /*define the basic settings for the page*/
  
  body {
     font-family: kulturista-web,serif;
     font size: 30px;
      background-color: #0F2733;
  }   
  h1 {
    font-weight: 300;
    font-size: 200px;
   
    color: #ecc1ba;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
  
   }
  
  h2 { 
      font-weight: 300;
    font-size: 200px;
   
    color: #EF9586;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
  
  }
  
  h3 { 
    font-weight: 300;
    font-size: 200px;
    color: #c97e71;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
  }
  
    p.test1 {
      writing-mode: horizontal-tb;
      text-align: center;  
      font-size: 130px;
      color: #ebbdbd;
      font-style: italic;
      
    }
    
    p.test2 {
      writing-mode: vertical-rl; 
      position: relative; left: 300px;
      font-size: 340px;
      color: #ffffff;
      column-count: 1;
    }
    
    span.test2 {
      writing-mode: vertical-rl; 
      text-align: center;  
      font-size: 500px;
      color: #ffffff;
    }
  
  h4 { 
      font-weight: 300;
    font-size: 30px; 
    color: rgb(255, 255, 255);
    line-height:15px;
   text-align: center;
  }
  
  div{
    
    font-size:50px; 
    color: rgb(255, 255, 255);
   text-indent: 3%;
   column-span: 4px;
   column-count: 1;
   column-rule-style: groove;
   column-rule: 3px;
  width: 50%;
  }
  
  h6 {
    writing-mode: vertical-rl; 
    position: relative; left: 300px;
    font-size: 340px;
    color: #ebac9d;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: right;
    column-count: 3;
    padding-left: ;
  }
  
  