* {
    box-sizing: border-box;
  }
  
  /*define the basic settings for the page*/
  
  body {
     font-family: kulturista-web,serif;
     font size: 30px;
      background-color: #0F2733;
      
  }   


  h1 {
    font-weight: 300;
    font-size: 200px;
   
    color: #ecc1ba;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
  
  
   }
  
  h2 { 
      font-weight: 300;
    font-size: 200px;
   
    color: #EF9586;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
   
  
  }
  
  h3 { 
    font-weight: 300;
    font-size: 200px;
    color: #c97e71;
    line-height: 1px;
    border-bottom: 4px dotted #ffffff;
    text-align: center;
  
  }
  
    p.test1 {
      writing-mode: horizontal-tb;
      text-align: center;  
      font-size: 130px;
      color: #ebbdbd;
      font-style: italic;
      
    }
    
    p.test2 {
      writing-mode: vertical-rl; 
      position: relative; left: 350px;
      font-size: 340px;
      color: #ffffff;
      column-count: 1;
      animation-name: example;
      animation-duration: 3s;  
      animation-fill-mode: infinite;
    }
      @keyframes example {
        from {top: 0px;}
        to {top: 20px; color: #ebbdbd;}
      }

      
  
    }

    
    span.test2 {
      writing-mode: vertical-rl; 
      text-align: center;  
      font-size: 800px;
      color: #ffffff;
    }
  
  h4 { 
      font-weight: 300;
    font-size: 30px; 
    color: rgb(255, 255, 255);
    line-height:15px;
   text-align: center;
  
   
  }
  div{
    
    font-size:35px; 
    color: rgb(255, 255, 255);
   text-indent: 5%;
    width: 50%;
    padding-left: 15%;
    
  }
 
  h6 {
    writing-mode:horizontal-tb; 
    position: relative; left: 300px;
    font-size: 300px;
    color: #ffffff;
    width: 400px;
    animation: mymove 10s infinite;
    margin: 20px
   
  }
  @keyframes mymove {
    from {left: 1000px;}
    to {right: 1000px;   color:#ebac9d ;} 
  
  }


  
    
  


